/*
  Author: Chinemerem Adilike
  Date: 2025-09-21
  Description: Styles for my classy web page
*/
body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}
a {
  color: rgb(244, 18, 18);
  text-decoration: none;
}